p {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large
}

ul {
    list-style: none;
}
dl {
    color: brown;
}
dd {
    color: red;
}

.dev {
    color: blueviolet;
}
#d1 {
    color: black;
}
#d2 {
    color: yellow;
}
.div1 {
    background-color: cadetblue;
   
}

#id1 {
    background-color: brown;
}